<%- include('header') -%>

<h2>Búa til spurningu</h2>

<form method="post" action="/questions">
  <!-- Dropdown to select category -->
  <label for="category">Veldu flokk:</label>
  <select name="category_id" id="category" required>
    <% categories.forEach(category => { %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% }); %>
  </select>

  <!-- Input for question -->
  <label for="question">Spurning:</label>
  <input type="text" id="question" name="question" required>

  <!-- Answer inputs -->
  <label>Valmöguleikar:</label>
  <input type="text" name="answer1" required> <input type="radio" name="correct_answer" value="1" required> Rétt svar #1
  <input type="text" name="answer2" required> <input type="radio" name="correct_answer" value="2"> Rétt svar #2
  <input type="text" name="answer3" required> <input type="radio" name="correct_answer" value="3"> Rétt svar #3

  <button type="submit">Vista spurningu</button>
</form>

<%- include('footer') -%>
